.header-component {
  padding-bottom: 5px;
}

.badgeChip {
  font-size: 14px;
  margin-right: 4px;
}
.header-component input,
.header-component select,
.header-component button {
  margin-bottom: 5px;
}
