<app-header
  (sort)="sortCharacters($event)"
  (searchEvent)="search($event)"
  (filterKey)="filterSearch($event)"
></app-header>
<ng-container *ngIf="!isError; else errorTemplate">
  <ng-container *ngIf="charactersList && charactersList.length === 0; else characterListTemplate">
    {{constants?.noResultsFound}}
  </ng-container>
  <ng-template #characterListTemplate>
    <div class="row cardRow">
      <div class="col-md-3 col-xs-12 cardColumn" *ngFor="let character of charactersList">
        <div class="card">
          <img class="card-img-top" src="{{ character?.image }}" alt="Card image cap" />
          <div class="overlay">
            <h6>{{ character?.name }}</h6>
            <span>id: {{ character?.id }} {{constants?.created}} {{ character?.created | date: "y" }}</span>
          </div>
          <div class="card-body">
            <table>
              <tr>
                <td>{{constants?.status}}</td>
                <td>{{ character?.status }}</td>
              </tr>
              <tr>
                <td>{{constants?.species}}</td>
                <td>{{ character?.species }}</td>
              </tr>
              <tr>
                <td>{{constants?.gender}}</td>
                <td>{{ character?.gender }}</td>
              </tr>
              <tr>
                <td>{{constants?.origin}}</td>
                <td>{{ character?.origin?.name }}</td>
              </tr>
              <tr>
                <td>{{constants?.location}}</td>
                <td>{{ character?.location?.name }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #errorTemplate>
  {{constants?.apiErrorMessage}}
</ng-template>
