<div class="header-component">

  <div *ngIf="filtersList && filtersList.length > 0">
    <h1>{{constants?.selectedFilters}}</h1>
    <div>
      <span class="badge badge-secondary badge-chip"
        *ngFor="let filter of filtersList">{{ filter }}
        <i class="fa fa-times"></i></span>
    </div>
  </div>

  <p>{{constants?.searchByName}}</p>

  <div class="row form-group search-ontainer">
    <div class="col-md-2 col-lg-2 col-xs-12 search-container__input-container">
      <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="nameSearch"
        autocomplete="off"
      />
    </div>
    <div class="col-md-1 col-lg-1 col-xs-12 search-container__button-container">
      <button (click)="searchByName()" class="btn btn-primary">{{constants?.search}}</button>
    </div>
    <div class="col-md-6 col-lg-6"></div>
    <div class="col-md-3 col-lg-3">
      <select
        name="sortbox"
        [(ngModel)]="sortOrder"
        (change)="valueChanged()"
        class="float-right form-control"
      >
        <option value="" disabled selected>{{constants?.sortById}}</option>
        <option value="ascending">{{constants?.ascending}}</option>
        <option value="descending">{{constants?.descending}}</option>
      </select>
    </div>
  </div>
</div>
