$color-grey: rgba(0, 0, 0, 0.5);
.header-component {
  padding-bottom: 5px;

  input, select, button {
    margin-bottom: 5px;
  }

  option[value=""]:disabled {
    color: $color-grey;
    font-style: italic;
  }

  .badge-chip {
    font-size: 14px;
    margin-right: 4px;
  }

  @media (min-width: 768px) {
    .search-container {
      &__input-container, &__button-container {
        padding: 0;
      }
    }
  }
  
}

