<div class="header-component">
  <h1>{{constants?.selectedFilters}}</h1>
  <div>
    <span class="badge badge-secondary badge-chip"
      *ngFor="let filter of filtersList">{{ filter }}
      <i class="fa fa-times"></i></span>
  </div>

  <p>{{constants?.searchByName}}</p>
  <div class="row form-group searchContainer">
    <div class="col-md-2 col-xs-12">
      <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="nameSearch"
        autocomplete="off"
      />
    </div>
    <div class="col-md-1 col-xs-12">
      <button (click)="searchByName()" class="form-control">{{constants?.search}}</button>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <select
        name="sortbox"
        [(ngModel)]="sortOrder"
        (change)="valueChanged()"
        class="float-right form-control"
      >
        <option value="ascending">{{constants?.ascending}}</option>
        <option value="descending">{{constants?.descending}}</option>
      </select>
    </div>
  </div>
</div>
