<div class="filter-container">
  <h1>{{constants?.filters}}</h1>
  <div class="species box">
    <p class="ml-5 mt-2 bold-text">{{constants?.species}}</p>
    <ul>
      <li *ngFor="let specie of species">
        <input
          type="checkbox"
          [value]="specie.value"
          [checked]="specie?.checked"
          (change)="specieSelect($event, specie.value)"
        />
        {{ specie.value }}
      </li>
    </ul>
  </div>
  <div class="gender box">
    <p class="ml-5 mt-2 bold-text">{{constants?.gender}}</p>
    <ul>
      <li *ngFor="let gender of genders">
        <input
          type="checkbox"
          [value]="gender.value"
          [checked]="gender?.checked"
          (change)="genderSelect($event, gender.value)"
        />
        {{ gender.value }}
      </li>
    </ul>
  </div>
  <div class="origin box">
    <p class="ml-5 mt-2 bold-text">{{constants?.origin}}</p>
    <ul>
      <li *ngFor="let origin of origins">
        <input
          type="checkbox"
          [value]="origin.value"
          [checked]="origin?.checked"
          (change)="originSelect($event, origin.value)"
        />
        {{ origin.key }}
      </li>
    </ul>
  </div>
</div>
