$color-black: #000000;
$color-darkgrey: #BBBBBB;
$color-white: #FFFFFF;
$color-grey: #4d4d4d;
$color-orange: rgb(265, 165, 0);

.cards-container {
  background-color: $color-black;
  .cards-container-column {
    margin: 15px 0;
  }
  .card {
    border: 1px solid $color-black;
    background-color: $color-black;
    .card-overlay {
      position: absolute;
      top: 41.2%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: $color-white;
      padding-left: 10px;
    }
    .card-body {
      background-color: rgba(27, 27, 28, 0.9);
      color: $color-white;
      min-height: 270px;
      .card-table {
        tr {
          border-bottom: 1px solid $color-grey;
          td {
            color: $color-darkgrey;
            &:last-child {
              color: $color-orange;
              text-align: right;
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
