$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #4d4d4d;

.cards-container {
  background-color: $color-black;
  .card {
    border: 1px solid $color-black;
    .card-column {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .card-overlay {
      position: absolute;
      top: 39%;
      width: 100%;
      background-color: rgba(27, 27, 28, 0.7);
      color: $color-white;
      padding-left: 10px;
    }
    .card-body {
      background-color: rgba(27, 27, 28, 0.9);
      color: $color-white;
      min-height: 270px;
      .card-table {
        tr {
          border-bottom: 1px solid $color-grey;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
